Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.2
docutils==0.12
flake8==2.2.2
invoke==0.8.2
mccabe==0.2.1
mock==1.0.1
pep257==0.3.2
pep8==1.5.7
py==1.4.23
pyenchant==1.6.6
pyflakes==0.8.1
pyhistory==1.2
sphinxcontrib-spelling==2.1.1
tox==1.7.2
virtualenv==1.11.6
wheel==0.24.0
