-e .
Jinja2
MarkupSafe
Pygments
Sphinx
coverage
docutils
flake8
invoke
mccabe
mock
pep8
py
pyflakes
pytest
pytest-cov
sphinxcontrib-spelling<5.0.0; python_version == '2.7'
sphinxcontrib-spelling; python_version > '2.7'
tox
virtualenv
wheel
