-e .
Jinja2==2.7.2
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.2
docutils==0.11
flake8==2.1.0
invoke==0.7.0
mccabe==0.2.1
pep257==0.3.2
pep8==1.5.6
py==1.4.20
pyflakes==0.8.1
tox==1.7.1
virtualenv==1.11.4
